.root {
    -fx-theme-header: #CBD9D4;
    -fx-theme-background: #CBD9D4;
    -fx-theme-background-alt: #7CBCA6;
    -fx-theme-selected: #AAE7CF;
    -fx-theme-label-text: #333333;
    -fx-theme-highlight: #93c7b3;
    -fx-theme-selectable-hover: #65A992;
    -fx-theme-tab-close-color: -fx-theme-label-text;

    -fx-highlight-fill: -fx-theme-selected;
    -fx-text-fill: -fx-theme-label-text;
    -fx-accent: -fx-theme-highlight;
    -fx-background: -fx-theme-background;
    -fx-mark-color: -fx-theme-selected;
}
