.root {
    -fx-theme-header: #323232;
    -fx-theme-background: #2D2D2D;
    -fx-theme-background-alt: #232323;
    -fx-theme-selected: #6DB332;
    -fx-theme-label-text: #FFFFFF;
    -fx-theme-highlight: #3A8000;
    -fx-theme-selectable-hover: #3C3C3C;
    -fx-theme-tab-close-color: -fx-theme-background;

    -fx-highlight-fill: -fx-theme-selected;
    -fx-text-fill: -fx-theme-label-text;
    -fx-accent: -fx-theme-highlight;
    -fx-background: -fx-theme-background;
    -fx-mark-color: -fx-theme-selected;
}
