.root {
    -fx-theme-header: #444444;
    -fx-theme-background: #3D3D3D;
    -fx-theme-background-alt: #2E2E2E;
    -fx-theme-selected: #F0544C;
    -fx-theme-label-text: #D2D2D2;
    -fx-theme-highlight: #c5473f;
    -fx-theme-selectable-hover: #454545;
    -fx-theme-tab-close-color: -fx-theme-label-text;

    -fx-highlight-fill: -fx-theme-selected;
    -fx-text-fill: -fx-theme-label-text;
    -fx-accent: -fx-theme-highlight;
    -fx-background: -fx-theme-background;
    -fx-mark-color: -fx-theme-selected;
}
