.root {
    -fx-theme-header: #FFFFFF;
    -fx-theme-background: #f0f0f0;
    -fx-theme-background-alt: #F2F2F2;
    -fx-theme-selected: #CBEAFF;
    -fx-theme-label-text: #333333;
    -fx-theme-highlight: #80d1ff;
    -fx-theme-selectable-hover: #E1E1E1;
    -fx-theme-tab-close-color: -fx-theme-label-text;

    -fx-highlight-fill: -fx-theme-selected;
    -fx-text-fill: -fx-theme-label-text;
    -fx-accent: -fx-theme-highlight;
    -fx-background: -fx-theme-background;
    -fx-mark-color: -fx-theme-selected;
}
